# Dados sensíveis e runtime
data/
config.txt

# Node
node_modules/
fans.json

# Arquivos temporários
*.rar
*.zip
*.bak

# IDE
.vscode/

# Arquivos de split temporários
head.txt
tail.txt
middle_rich.js
